/* line 2, styles.scss */
.sort-wrap .form-control {
  border: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  outline: none;
  padding-left: 0;
  padding-top: 8px;
}

/* line 18, styles.scss */
#page-wrap {
  position: relative;
}
/* line 22, styles.scss */
#page-wrap h1:first-child {
  margin-top: 0;
}

/* ==========================================================================
   Base
   ========================================================================== */
/* line 40, styles.scss */
.content-wrap {
  margin-top: 100px;
}

/* line 44, styles.scss */
div {
  font-size: 14px;
}

/* line 51, styles.scss */
a:hover, a:active, a:focus {
  outline: 0;
}

/* line 55, styles.scss */
h1, h2, h3, h4 {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 59, styles.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin-top: 40px;
}

/* line 63, styles.scss */
h1 {
  margin-bottom: 0;
  margin-top: 40px;
  padding-bottom: 10px;
}

/* line 70, styles.scss */
h1, .h1 {
  font-size: 28px;
}

/* line 79, styles.scss */
code, kbd, pre, samp {
  font-family: 'Source Code Pro',Menlo,Monaco,Consolas,"Courier New",monospace;
}

/* line 84, styles.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 89, styles.scss */
.highlight {
  margin: 20px 0;
}

/* line 94, styles.scss */
.container {
  margin-left: 0;
  margin-right: 0;
}

/* line 100, styles.scss */
.navbar {
  z-index: 9999;
}

/* line 104, styles.scss */
#loading1 {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9000;
}

/* line 112, styles.scss */
pre code {
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

/* line 119, styles.scss */
hr {
  margin-top: 0;
  margin-bottom: 0;
}

/* ==========================================================================
   Nav
   ========================================================================== */
/* line 131, styles.scss */
.navbar-brand {
  width: 100px;
  height: 58px;
  float: left;
  background-size: contain;
  background-image: url("/../assets/img/abstractfactory_black_med_rgb_aw1.png");
  background-repeat: no-repeat;
  margin-top: 13px;
}

/* line 141, styles.scss */
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: -5px;
}

/* line 145, styles.scss */
.navbar, .nav-pills > li > a, .btn, .dropdown-menu {
  border-radius: 0;
}

/* line 152, styles.scss */
.dropdown-header {
  padding: 3px 15px;
}

/* line 156, styles.scss */
.dropdown-menu {
  font-size: 12px;
}

/* line 160, styles.scss */
.dropdown-menu > li > a {
  white-space: pre-wrap;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 165, styles.scss */
.dropdown-menu > li > a:hover {
  color: #fff;
}

/* line 173, styles.scss */
.dropdown-menu > li:hover {
  color: #fff;
  background: #333;
}
/* line 177, styles.scss */
.dropdown-menu > li:hover a {
  color: #fff;
}
/* line 183, styles.scss */
.dropdown-menu > li:last-child a {
  border-bottom: 0;
}

/* line 190, styles.scss */
.navbar {
  min-height: 50px;
}

/* line 194, styles.scss */
.navbar-default {
  background: #fff;
  border: none;
}

/* line 200, styles.scss */
.navbar-nav {
  margin-left: 40px;
  margin-top: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 207, styles.scss */
.navbar-nav > li > a, .navbar-nav.controls button {
  padding: 0;
  background: none;
  margin-right: 20px;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 217, styles.scss */
.navbar-nav > li > a:hover, .navbar-nav.controls button:hover {
  border-bottom: 1px solid #000;
}

/* line 224, styles.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: none;
  border-bottom: 1px solid #000;
}

/* line 230, styles.scss */
.beforeMenu {
  z-index: 100;
}

/* line 234, styles.scss */
#menu {
  background-color: #fff;
  min-height: 50px;
  z-index: 100;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 243, styles.scss */
.navbar-nav.controls {
  margin-top: 0;
  margin-left: 0;
}
/* line 249, styles.scss */
.navbar-nav.controls .lastModified {
  margin-left: 40px;
}
/* line 253, styles.scss */
.navbar-nav.controls .circle:before {
  font-size: 18px;
}
/* line 258, styles.scss */
.navbar-nav.controls .sort span {
  font-size: 12px;
  vertical-align: top;
}
/* line 265, styles.scss */
.navbar-nav.controls label {
  font-weight: normal;
  margin-right: 20px;
}
/* line 270, styles.scss */
.navbar-nav.controls .btn {
  border: none;
  line-height: 1em;
  vertical-align: top;
  border: 1px solid #dddddd;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 3px;
  vertical-align: middle;
}
/* line 280, styles.scss */
.navbar-nav.controls .btn:hover {
  background: none repeat scroll 0 0 #70B32D;
  border: 1px solid #70B32D;
  color: #fff;
}
/* line 286, styles.scss */
.navbar-nav.controls .btn:focus {
  outline: none;
}
/* line 293, styles.scss */
.navbar-nav.controls .btn:active, .navbar-nav.controls .btn.active {
  background: none repeat scroll 0 0 #70B32D;
  border: 1px solid #70B32D;
  box-shadow: none;
  color: #FFFFFF;
}

/* line 303, styles.scss */
.filters, .sort-wrap, .search-wrap {
  padding: 20px 0;
  border-right: 1px solid #EEEEEE;
  margin-right: 20px;
  height: 75px;
}

/* line 311, styles.scss */
.search-wrap {
  border-right: none;
}

/* line 315, styles.scss */
.filters {
  width: 370px;
}
/* line 318, styles.scss */
.filters ul {
  padding: 0;
}
/* line 322, styles.scss */
.filters li {
  float: left;
  list-style: none;
}

/* line 331, styles.scss */
.sort-wrap label, .sort-wrap #SortSelect {
  float: left;
}
/* line 335, styles.scss */
.sort-wrap .form-control {
  width: auto;
  margin-right: 20px;
}

/* line 342, styles.scss */
#search {
  background: inherit;
  border: 0 none;
  color: #000000;
  outline: medium none;
  padding: 0;
  width: 79%;
  float: left;
  margin-top: 6px;
}

/* line 356, styles.scss */
.eye {
  background-image: url("/../assets/img/icons/eye.png");
  width: 40px;
}

/* line 362, styles.scss */
.icon.sortarrow {
  background-image: url("/../assets/img/icons/sort.png");
  padding: 0;
  width: 12px;
}

/* line 369, styles.scss */
.icon.search {
  background-image: url("/../assets/img/icons/search.png");
  padding: 0;
  width: 20px;
}

/* line 376, styles.scss */
.icon {
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  margin-top: 6px;
  opacity: 0.5;
  float: left;
}

/* line 387, styles.scss */
button.active {
  background: #68b8c4;
}

/* line 391, styles.scss */
button:focus {
  outline: 0 none;
}

/* line 396, styles.scss */
#overviewlist li {
  display: none;
}

/* ==========================================================================
   Sticky footer styles
   ========================================================================== */
/* line 404, styles.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 408, styles.scss */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* line 412, styles.scss */
#footer1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* line 431, styles.scss */
#sidebar .btn {
  font-family: Helvetica, Arial, sans-serif;
}

/* ==========================================================================
   Overview (Index)
   ========================================================================== */
/* line 441, styles.scss */
.beforeList {
  margin-bottom: 0;
}

/* line 447, styles.scss */
.overview h1 {
  margin-bottom: 40px;
}
/* line 451, styles.scss */
.overview ul.list {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}
/* line 457, styles.scss */
.overview ul.list li {
  cursor: pointer;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  display: block;
  color: #333;
}
/* line 466, styles.scss */
.overview ul.list li:hover {
  background-color: #f8f8f8;
}
/* line 470, styles.scss */
.overview ul.list li a {
  color: #333;
}
/* line 477, styles.scss */
.overview ul.list li p {
  margin-bottom: 0;
}
/* line 482, styles.scss */
.overview ul.list li .summary {
  opacity: 0.6;
}
/* line 487, styles.scss */
.overview ul.list li h4 {
  margin-top: 0;
}
/* line 492, styles.scss */
.overview ul.list li .title {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 497, styles.scss */
.overview ul.list li .title.number a:hover {
  text-decoration: none;
}
/* line 502, styles.scss */
.overview ul.list li:last-child {
  border-bottom: none;
}
/* line 507, styles.scss */
.overview ul.list li .meta-content {
  opacity: 0;
}
/* line 513, styles.scss */
.overview ul.list li:hover .meta-content {
  opacity: 1;
}

/* line 525, styles.scss */
.sub-nav {
  margin: 20px 0;
  padding: 20px 0;
}
/* line 529, styles.scss */
.sub-nav li {
  margin-right: 20px;
}
/* line 533, styles.scss */
.sub-nav li .btn {
  height: 45px;
}
/* line 538, styles.scss */
.sub-nav .search {
  height: 45px;
  border: 1px solid #CCCCCC;
  padding-left: 10px;
}

/* line 548, styles.scss */
.meta-content div {
  font-size: 12px;
}
/* line 552, styles.scss */
.meta-content div .circle:before {
  font-size: 16px;
  line-height: 0;
}

/* line 565, styles.scss */
.circle:before {
  content: ' \25CF';
  font-size: 16px;
}

/* line 571, styles.scss */
.circle.raw {
  color: #840420;
}
/* line 574, styles.scss */
.circle.draft {
  color: #adc2ad;
}
/* line 577, styles.scss */
.circle.stable {
  color: #684622;
}
/* line 580, styles.scss */
.circle.legacy {
  color: #bebecf;
}
/* line 583, styles.scss */
.circle.retired {
  color: #3e3e3e;
}
/* line 586, styles.scss */
.circle.deleted {
  color: #a0a0a0;
}

/* ==========================================================================
   Table of Contents
   ========================================================================== */
/* line 598, styles.scss */
.toc-wrap {
  margin-top: 40px;
}
/* line 602, styles.scss */
.toc-wrap .btn {
  width: 100%;
  text-align: left;
  border-radius: 0;
  background-color: #f0f0f0;
  margin-bottom: 1px;
  color: #333333;
}
/* line 610, styles.scss */
.toc-wrap .btn:hover {
  background-color: #333333;
  color: #fff;
}

/* line 619, styles.scss */
.collapse-menu {
  background-color: #f6f6f6;
  padding: 20px;
}

/* line 627, styles.scss */
.toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 634, styles.scss */
.toc li {
  padding: 0;
  border-bottom: 1px solid #DDDDDD;
  padding: 0.5em 0;
}
/* line 645, styles.scss */
.toc a {
  display: block;
}
/* line 648, styles.scss */
.toc a:hover {
  color: #000;
}
/* line 654, styles.scss */
.toc .h1, .toc .h2, .toc .h3 {
  font-weight: normal;
  font-size: 13px;
  margin: 0;
  list-style: none;
}
/* line 660, styles.scss */
.toc .h2, .toc .h3 {
  display: none;
}

/* ==========================================================================
   Solarized
   ========================================================================== */
/* line 683, styles.scss */
.highlight {
  background-color: #ffffcc;
}

/* line 684, styles.scss */
.highlight .c {
  color: #586E75;
}

/* Comment */
/* line 685, styles.scss */
.highlight .err {
  color: #93A1A1;
}

/* Error */
/* line 686, styles.scss */
.highlight .g {
  color: #93A1A1;
}

/* Generic */
/* line 687, styles.scss */
.highlight .k {
  color: #859900;
}

/* Keyword */
/* line 688, styles.scss */
.highlight .l {
  color: #93A1A1;
}

/* Literal */
/* line 689, styles.scss */
.highlight .n {
  color: #93A1A1;
}

/* Name */
/* line 690, styles.scss */
.highlight .o {
  color: #859900;
}

/* Operator */
/* line 691, styles.scss */
.highlight .x {
  color: #CB4B16;
}

/* Other */
/* line 692, styles.scss */
.highlight .p {
  color: #93A1A1;
}

/* Punctuation */
/* line 693, styles.scss */
.highlight .cm {
  color: #586E75;
}

/* Comment.Multiline */
/* line 694, styles.scss */
.highlight .cp {
  color: #859900;
}

/* Comment.Preproc */
/* line 695, styles.scss */
.highlight .c1 {
  color: #586E75;
}

/* Comment.Single */
/* line 696, styles.scss */
.highlight .cs {
  color: #859900;
}

/* Comment.Special */
/* line 697, styles.scss */
.highlight .gd {
  color: #2AA198;
}

/* Generic.Deleted */
/* line 698, styles.scss */
.highlight .ge {
  color: #93A1A1;
  font-style: italic;
}

/* Generic.Emph */
/* line 699, styles.scss */
.highlight .gr {
  color: #DC322F;
}

/* Generic.Error */
/* line 700, styles.scss */
.highlight .gh {
  color: #CB4B16;
}

/* Generic.Heading */
/* line 701, styles.scss */
.highlight .gi {
  color: #859900;
}

/* Generic.Inserted */
/* line 702, styles.scss */
.highlight .go {
  color: #93A1A1;
}

/* Generic.Output */
/* line 703, styles.scss */
.highlight .gp {
  color: #93A1A1;
}

/* Generic.Prompt */
/* line 704, styles.scss */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold;
}

/* Generic.Strong */
/* line 705, styles.scss */
.highlight .gu {
  color: #CB4B16;
}

/* Generic.Subheading */
/* line 706, styles.scss */
.highlight .gt {
  color: #93A1A1;
}

/* Generic.Traceback */
/* line 707, styles.scss */
.highlight .kc {
  color: #CB4B16;
}

/* Keyword.Constant */
/* line 708, styles.scss */
.highlight .kd {
  color: #268BD2;
}

/* Keyword.Declaration */
/* line 709, styles.scss */
.highlight .kn {
  color: #859900;
}

/* Keyword.Namespace */
/* line 710, styles.scss */
.highlight .kp {
  color: #859900;
}

/* Keyword.Pseudo */
/* line 711, styles.scss */
.highlight .kr {
  color: #268BD2;
}

/* Keyword.Reserved */
/* line 712, styles.scss */
.highlight .kt {
  color: #DC322F;
}

/* Keyword.Type */
/* line 713, styles.scss */
.highlight .ld {
  color: #93A1A1;
}

/* Literal.Date */
/* line 714, styles.scss */
.highlight .m {
  color: #2AA198;
}

/* Literal.Number */
/* line 715, styles.scss */
.highlight .s {
  color: #2AA198;
}

/* Literal.String */
/* line 716, styles.scss */
.highlight .na {
  color: #93A1A1;
}

/* Name.Attribute */
/* line 717, styles.scss */
.highlight .nb {
  color: #B58900;
}

/* Name.Builtin */
/* line 718, styles.scss */
.highlight .nc {
  color: #268BD2;
}

/* Name.Class */
/* line 719, styles.scss */
.highlight .no {
  color: #CB4B16;
}

/* Name.Constant */
/* line 720, styles.scss */
.highlight .nd {
  color: #268BD2;
}

/* Name.Decorator */
/* line 721, styles.scss */
.highlight .ni {
  color: #CB4B16;
}

/* Name.Entity */
/* line 722, styles.scss */
.highlight .ne {
  color: #CB4B16;
}

/* Name.Exception */
/* line 723, styles.scss */
.highlight .nf {
  color: #268BD2;
}

/* Name.Function */
/* line 724, styles.scss */
.highlight .nl {
  color: #93A1A1;
}

/* Name.Label */
/* line 725, styles.scss */
.highlight .nn {
  color: #93A1A1;
}

/* Name.Namespace */
/* line 726, styles.scss */
.highlight .nx {
  color: #93A1A1;
}

/* Name.Other */
/* line 727, styles.scss */
.highlight .py {
  color: #93A1A1;
}

/* Name.Property */
/* line 728, styles.scss */
.highlight .nt {
  color: #268BD2;
}

/* Name.Tag */
/* line 729, styles.scss */
.highlight .nv {
  color: #268BD2;
}

/* Name.Variable */
/* line 730, styles.scss */
.highlight .ow {
  color: #859900;
}

/* Operator.Word */
/* line 731, styles.scss */
.highlight .w {
  color: #93A1A1;
}

/* Text.Whitespace */
/* line 732, styles.scss */
.highlight .mf {
  color: #2AA198;
}

/* Literal.Number.Float */
/* line 733, styles.scss */
.highlight .mh {
  color: #2AA198;
}

/* Literal.Number.Hex */
/* line 734, styles.scss */
.highlight .mi {
  color: #2AA198;
}

/* Literal.Number.Integer */
/* line 735, styles.scss */
.highlight .mo {
  color: #2AA198;
}

/* Literal.Number.Oct */
/* line 736, styles.scss */
.highlight .sb {
  color: #586E75;
}

/* Literal.String.Backtick */
/* line 737, styles.scss */
.highlight .sc {
  color: #2AA198;
}

/* Literal.String.Char */
/* line 738, styles.scss */
.highlight .sd {
  color: #93A1A1;
}

/* Literal.String.Doc */
/* line 739, styles.scss */
.highlight .s2 {
  color: #2AA198;
}

/* Literal.String.Double */
/* line 740, styles.scss */
.highlight .se {
  color: #CB4B16;
}

/* Literal.String.Escape */
/* line 741, styles.scss */
.highlight .sh {
  color: #93A1A1;
}

/* Literal.String.Heredoc */
/* line 742, styles.scss */
.highlight .si {
  color: #2AA198;
}

/* Literal.String.Interpol */
/* line 743, styles.scss */
.highlight .sx {
  color: #2AA198;
}

/* Literal.String.Other */
/* line 744, styles.scss */
.highlight .sr {
  color: #DC322F;
}

/* Literal.String.Regex */
/* line 745, styles.scss */
.highlight .s1 {
  color: #2AA198;
}

/* Literal.String.Single */
/* line 746, styles.scss */
.highlight .ss {
  color: #2AA198;
}

/* Literal.String.Symbol */
/* line 747, styles.scss */
.highlight .bp {
  color: #268BD2;
}

/* Name.Builtin.Pseudo */
/* line 748, styles.scss */
.highlight .vc {
  color: #268BD2;
}

/* Name.Variable.Class */
/* line 749, styles.scss */
.highlight .vg {
  color: #268BD2;
}

/* Name.Variable.Global */
/* line 750, styles.scss */
.highlight .vi {
  color: #268BD2;
}

/* Name.Variable.Instance */
/* line 751, styles.scss */
.highlight .il {
  color: #2AA198;
}

/* Literal.Number.Integer.Long */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 763, styles.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 771, styles.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 782, styles.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 791, styles.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 808, styles.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 821, styles.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 838, styles.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 843, styles.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 852, styles.scss */
.clearfix {
  *zoom: 1;
}
