
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/img/ico/favicon.ico">

    <title>Abstract Factory RFC</title>

    <link href="{{site.baseurl}}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <div id="loading"></div>

    {% include nav.html %}


    <div class="container">

      <section class="content">
          {{ content }}
      </section>
    
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/plugins.js"></script>
    <script src="{{site.baseurl}}/assets/js/main.js"></script>


    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>
</html>
